<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.mapper.EmpMapper">

    <select id="getEmpListByCriteria" resultType="com.forest.bean.Emp">
        select eid, ename, age, sex, did from emp
        where
        eid = #{eid}
        and ename = #{ename}
        and age = #{age}
        and sex = #{sex}
    </select>


</mapper>